{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
            <th colspan="3">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        {% if item.is_active %}
        <tr>
            <th scope="row">{{ item.pk }}</th>
            <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
            <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
            <td>{{ item.get_status_display }}</td>
            <td><a href="{% url 'ordersapp:order_read' item.pk %}" data-toggle="tooltip" data-placement="top"
                    title="Просмотр деталей"><i class="fa fa-list-alt" aria-hidden="true"></i></a></td>
            <td>
                {% if item.status == 'FM' %}
                <a href="{% url 'ordersapp:order_update' item.pk %}" data-toggle="tooltip" data-placement="top"
                    title="Редактировать"><i class=" fa fa-pencil" aria-hidden="true"></i></a>
                {% endif %}
            </td>
            <td>
                {% if item.status == 'FM' %}
                <a href="{% url 'ordersapp:order_delete' item.pk %}" data-toggle="tooltip" data-placement="top"
                    title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</p>
{% endblock content %}