{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
<div class="row justify-content-center m-2">
    <div class="col-3">
        <a href="{% url 'admin:product_create' category.pk %}" class="btn btn-outline-primary btn-block btn-sm"
            role="button">новый продукт</a>
    </div>
</div>

{% for object in objects %}
<div class="row justify-content-center my-3 {% if not object.is_active %}not_active{% endif %}">
    <div class="col-2">
        <img src="{{ media_url }}{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}"
            class="img-thumbnail">
    </div>
    <div class="col-2 text-center">
        <h3>{{ object.name|title }}</h3>
    </div>
    <div class="col-2">
        <a href="{% url 'admin:product_read' object.pk %}" class="btn btn-outline-secondary btn-block btn-sm"
            role="button">подробнее</a>
        <a href="{% url 'admin:product_update' object.pk %}" class="btn btn-outline-secondary btn-block btn-sm"
            role="button">редактировать</a>
        <a href="{% url 'admin:product_delete' object.pk %}" class="btn btn-outline-secondary btn-block btn-sm"
            role="button">удалить</a>
    </div>
    <div class="col-2">
        <div class="col-12 text-center border-bottom">цена</div>
        <div class="col-12 text-center mb-2">{{ object.price }} руб</div>
        <div class="col-12 text-center border-bottom">количество</div>
        <div class="col-12 text-center mb-2">{{ object.quantity }}</div>
    </div>
    <div class="col-3">
        {{ object.short_desc|title }}
    </div>
</div>
{% endfor %}

{% endblock %}